.navigation-drawer {
  background: var(--app-primary-soft);
  color: var(--ion-text-color);
  height: auto;
  box-shadow: none !important;
}

.email {
  color: var(--ion-color-medium-shade);
  font-size: 0.9rem;
}

.profil {
  margin: 16px;
}

.profil-img {
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 80px;
}

.profil-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
